@use '../util' as *;



.about {
  padding-block: rem(200);
  .container {
    display: flex;
    flex-direction: column;
    
    @include breakpoint('medium-2'){
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__img-container {
    margin-bottom: rem(45);
    display: flex;
    align-items: center;
   
    @include breakpoint('medium-2'){
      width: 40%;
    }
  }
  &__img {
    
  }
  &__content {

    @include breakpoint('medium-2'){
      flex-direction: row;
      width: 60%;
      padding-left: rem(80);
    }
  }
  &__headings {
    margin-bottom: rem(40);
    h2 {
      margin-bottom: rem(10);
    }
    h4 {
      padding-bottom: rem(40);
    }
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
  &__paragraph {
    font-family: 'Mulish', sans-serif;
    color: var(--clr-gray);
    font-style: italic;
    font-weight: 400;
  }
  &__paragraph + &__paragraph {
    margin-top: rem(30);
  }
  button {
    margin-top: rem(40);
  }
}