@use '../util' as *;

.nav {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: rem(20);
  background-color: var(--clr-white);
  border-bottom: 1px solid rgba(0,0,0,.2);

  @include breakpoint('medium-2'){
    background-color: transparent;
    border: none;
  }

  &__list {
    display: none;

    @include breakpoint('medium-2'){
      display: flex;
    }
  }
  &__item {
    
  }
  &__item + &__item{
    margin-left: rem(34);
  }
  &__link {
    color: var(--clr-black);
    font-weight: 600;
    
  }
}
.logo {
  img {
    max-width: rem(70);
  }
}