@use '../util' as *;

.services {
  padding-bottom: rem(140);
  .service {
    display: flex;
    flex-direction: column;
    &__img {
      max-width: rem(50);
      margin-bottom: rem(16);
    }
    &__text {
      
    }
    &__title {
      font-size: rem(18);
      line-height: 1.4;
      font-weight: 600;
      margin-bottom: rem(16);
    }
    &__desc {
      font-size: rem(15);
      color: var(--clr-gray);
      font-style: italic;
    }
  }
}